<div class="container-fluid viewPollDiv">

	<div class="page-header ng-scope viewPollHeader">
		<h3>View Poll</h3>
	</div>
	<div class="row errorBox" ng-show="hasError">
		<ng-include src="'views/errorTemplate.htm'" scope=""></ng-include>
	</div>
	<form role="form" name="addPollForm" ng-submit="vote()">
	
		<div class="jumbotron pollBox">
			<div>
				<h4><strong>Question</strong></h4>
			</div>
			<div>
				{{poll.question}}
			</div>

			<div class="choiceDiv" ng-show="displayChoices">
				<h4 class="marginLeftMinus15px"><strong>{{displayChart ? choicesText : selectOptnTxt}}</strong></h4>
				<div class="row" ng-repeat="choice in poll.multipleChoices">
					<div class="displayInlineFlex">
						<input type="radio" name="gender" ng-model="addPollForm.choiceSelected" value="{{choice.choiceID}}" id="{{choice.choiceID}}">

						<!-- <span ng-show="{'displayNone' : !displayChart}">{{$index}}</span> -->

						<label class="normalFont">&nbsp;{{choice.text}}</label>
					</div>
					
				</div>
			</div>
		</div>

	<!-- <div ng-show="displayChart">
		<div class="barChartDiv" fusioncharts
	       width="600"
	       height="400"
	       type="column2d"
	       dataSource="{{myDataSource}}" >
	    </div>
	</div> -->
	<div class="row resultSec" ng-class="{'displayNone' : !displayChart}">
		
		<center>
			<div class="col-xs-12 col-md-8 votingResultDiv">
				<h3>
					<strong><u>Voting Summary</u></strong>
				</h3>
					<select ng-model="selectedItem" style="margin-top: -2px;font-size: 14px;" class="floatRight" ng-options="chartType for chartType in ChartTypes" ng-change="changeChart(selectedItem)">
					</select>
				
				<h5>Total {{totalVotes}} votes has been counted so far. You have voted for <b>{{optSelected}}</b></h5>
				<br>
				<canvas id="base" class="chart-base" chart-type="type"
  					chart-data="myDataSource.data" chart-colours="myDataSource.colors" chart-labels="myDataSource.labels" >
				</canvas>

			</div>
		</center>
	</div>
		<hr style="margin-top: auto !important;">
		<div class="floatLeft"><a role="button" class="btn btn-primary" href="#/search">Back To Search</a></div>
		<div class="floatRight"><button type="submit" ng-disabled="disableVoteBtn" class="btn btn-primary">Vote Now !</button></div>
	</form>
</div>