<header>
	<nav class="navbar navbar-default headerNav" role="navigation">
		<div class="container-fluid">
		<ul class="nav navbar-nav">
			<li >
				<a class="navbar-brand colorSienna" href="#/about">About us</a>
			</li>
			<li>
				<a class="navbar-brand colorSienna" href="#/contact">Contact us</a>
			</li>
		</ul>
		<a role='button' ng-class="{'displayNone' : !showLogout}" class="navbar-brand colorSienna active floatRight" ng-click="logout()">Log Out</a>
		</div>
	</nav>
</header>


<div class="jumbotron pollHeader">
	<div class="">
		<h1 class="colorSienna">Poll Application</h1>
		<p class="color-ccc">Search/Add questions and cast your votes</p>
	</div>
</div>